.logo {
	width: 120px !important;
	height: 55px !important;
}

.header {
	height: 65px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.formDiv, .resultsContainer {
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 20px;
}

p {
	margin-bottom: 0px;
}

.other-column {
	text-align: center;
}

.searchResult {
	margin-bottom: 20px;
}

.lowered-text, .description {
	margin-top: 10px;
}

.label {
	text-align: center;
	margin-bottom: 20px !important;
}

.view-range-container, .view-dropdown-container {
	top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: flex !important;
    align-items: center !important;
}

.view-dropdown, .range-dropdown, .range-input {
	margin-right: 5px;
	margin-left: 5px;
}

.search-button {
	margin: 10px auto !important;
	display: block !important;
}

.range-input, .range-dropdown {
	max-width: 130px !important;
	width: 130px !important;
}

.between-range {
	display: block !important;
}

.result :hover {
	background-color: #ededed;
}

.modal-header {
	display: flex;
	margin: 0 !important;
	height: 60px;
}

.remove-button {
	float: left;
}